service: bsa-notification-submitter-service

# pin to a specific Serverless version
# frameworkVersion: ">=2.0.0 <3.0.0"

provider:
  name: aws
  region: us-east-1
  runtime: nodejs14.x
  deploymentBucket: bsa-deploy-${env:AWS_ENV, 'dev'}-${self:provider.region}
  stage: live
  stackName: bsa-${self:service}-live
  memorySize: 1024
  logRetentionInDays: 14 # cloudwatch logs
  timeout: 15 # seconds
  versionFunctions: true
  iamRoleStatements:
    -
      Effect: Allow
      Action:
        - s3:GetObject
        - s3:DeleteObject
        - s3:ListBucket
      Resource:
        - arn:aws:s3:::${self:custom.notificationsBucket}/notifications/*
        - arn:aws:s3:::${self:custom.notificationsBucket}
    -
      Effect: Allow
      Action:
        - sns:Publish
      Resource:
        - arn:aws:sns:${self:provider.region}:${aws:accountId}:bsa-notification-processor

plugins:
  - serverless-mocha-plugin
  - serverless-prune-plugin
  - serverless-plugin-diff

custom:
  # serverless-prune-plugin
  prune:
    automatic: true
    number: 5
  notificationsBucket: bsa-notifications-${env:AWS_ENV, 'dev'}-${self:provider.region}

package:
  exclude:
    - .git/**
    - terraform/**
    - scripts/**

resources:
  Resources:
    NotificationProcessorTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: bsa-notification-processor

    LambdaErrorTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: bsa-notification-submitter-lambda-error
        Subscription:
          - Protocol: email
            Endpoint: ops+${env:AWS_ENV, 'dev'}@bestselfapp.xyz

    LambdaNoInvocationTopic:
      Type: 'AWS::SNS::Topic'
      Properties:
        TopicName: bsa-notification-submitter-no-invocation
        Subscription:
          - Protocol: email
            Endpoint: ops+${env:AWS_ENV, 'dev'}@bestselfapp.xyz

    LambdaErrorAlarm:
      Type: 'AWS::CloudWatch::Alarm'
      Properties:
        AlarmName: bsa-notification-submitter-lambda-error
        AlarmDescription: 'Notification submitter lambda had an error today'
        Namespace: 'AWS/Lambda'
        MetricName: 'Errors'
        Statistic: 'Sum'
        Period: '86400' # 24 hours in seconds, so we get one alarm per day
        EvaluationPeriods: '1'
        Threshold: '1'
        ComparisonOperator: 'GreaterThanOrEqualToThreshold'
        AlarmActions:
          - arn:aws:sns:${self:provider.region}:${aws:accountId}:bsa-notification-submitter-lambda-error
        Dimensions:
          - Name: FunctionName
            Value: bsa-notification-submitter

    LambdaNoInvocationAlarm:
      Type: 'AWS::CloudWatch::Alarm'
      Properties:
        AlarmName: bsa-notification-submitter-lambda-no-invocation
        AlarmDescription: 'Notification submitter lambda was not invoked in the last 3 days'
        Namespace: 'AWS/Lambda'
        MetricName: 'Invocations'
        Statistic: 'Sum'
        Period: '86400' # 24 hours in seconds, so we get one alarm per day
        EvaluationPeriods: '1'
        Threshold: '0'
        ComparisonOperator: 'LessThanOrEqualToThreshold'
        AlarmActions:
          - arn:aws:sns:${self:provider.region}:${aws:accountId}:bsa-notification-submitter-lambda-no-invocation
        Dimensions:
          - Name: FunctionName
            Value: bsa-notification-submitter

functions:
  bsa-notification-submitter:
    name: 'bsa-notification-submitter'
    handler: index.handler
    timeout: 60 # seconds
    environment:
      LOG_LEVEL: 'debug'
      AWS_REGION: ${self:provider.region}
      BSA_PERSONALDATA_BUCKET: ${ssm:/bsa/exports/api/pdata_bucket}
      NOTIFICATION_PROCESSOR_TOPIC_ARN: arn:aws:sns:${self:provider.region}:${aws:accountId}:bsa-notification-processor
    events:
      - schedule:
          name: notification-submitter-event
          description: 'Trigger notification processing'
          rate: cron(0/5 * * * ? *)
          enabled: true
          input:
            key1: value1
            key2: value2
            stageParams:
              stage: ${self:provider.stage}
